    <footer class="footer">
      <div class="p2 wrap">
        <div class="measure mt1 center">
          <small>
            Copyright &#169; 2017-2021<br>
            Powered by <a href="http://gohugo.io/" target="_blank">Hugo</a> &amp; <a href="https://github.com/azmelanar/hugo-theme-pixyll" target="_blank">Pixyll</a>
          </small>
        </div>
      </div>
    </footer>


</body>
</html>
