<div class="post">
  <a class="post-link" href="{{ .Permalink }}">
  <p class="post-meta left">{{ .Date.Format "Jan 2, 2006" }}</p>
  {{ if isset .Params "author" }}<p class="post-author right">{{ i18n "written" }} {{ .Params.author }}</p>{{ end }}
  <div class="clearfix"></div>
  <h3 class="h2 post-title">{{ .Title }} {{ if .Draft }}(draft){{end}}</h3>
  <p class="post-summary">{{ .Content }}</p>
  </a>
  {{ $baseurl := .Site.BaseURL }}
  {{ if isset .Params "tags" }} {{ if len .Params.tags }}
  <p class="post-meta">{{ i18n "tags" }}:&nbsp;
  {{ range $i, $e := .Params.tags }}
      {{if $i}},&nbsp;{{end}}
      <a href="{{ $baseurl }}{{ $.Site.LanguagePrefix }}/tags/{{ . }}">{{ . }}</a>
  {{ end }}</p>
  {{ end }}{{ end }}
</div>
