{{ partial "head.html" . }}
<div class="site-wrap">
  {{ partial "header.html" . }}
  <div class="post p2 p-responsive wrap" role="main">
    <div class="measure">

  <div>
   {{ $baseurl := .Site.BaseURL }}
   {{ if eq .Permalink "/search/" }}
<link rel="stylesheet" type="text/css" href="{{ $baseurl }}/tipuesearch/tipuesearch.css">
<script src="//ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<link href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.0/normalize.min.css">
<script type="text/javascript" src="{{ $baseurl }}/tipuesearch/tipuesearch_set.js"></script>
<script type="text/javascript" src="{{ $baseurl }}/tipuesearch/tipuesearch.min.js"></script>
<script type="text/javascript" src="{{ $baseurl }}/tipuesearch/tipuesearch_content.js"></script>
<script>
$(document).ready(function() {
     $('#tipue_search_input').tipuesearch({
         'mode' : 'json',
         'show': 10,
         'newWindow': true,
         'wholeWords': false
     });
});
</script>
    <div class="span8 offset2">
        <div id="tipue_search_content"><div id="tipue_search_loading"></div></div>
    </div>
   {{ else }}

   <h3 id="title">{{ .Title }}</h3>
   {{ $data := .Data }}
    {{ range $key,$value := .Data.Terms.ByCount }}
    <a href="{{ $value.Name | urlize }}">{{ $value.Name }} </a> {{ $value.Count }} <br>
    {{ end }}
    {{ end }}
  </div>

    </div>
  </div>
</div>
{{ partial "footer.html" . }}
