{{ partial "head.html" . }}
<div class="site-wrap">
    {{ partial "header.html" . }}
    {{ if isset .Site.Params "description" }}
    <meta name="description" content="{{ .Site.Params.description }}">
    {{ end }}
    <div class="post p2 p-responsive wrap" role="main">
        <div class="measure">
            <div class="home">
                <div class="posts">
                    {{ if isset .Site.Params "paginate" }}
                        {{ $paginator := .Paginate (where .Site.RegularPages "Type" "in" .Site.Params.mainSections) .Site.Params.paginate }}
                        {{ range $paginator.Pages.ByDate.Reverse }}
                            {{ .Render "summary" }}
                        {{ end }}
                </div>
            </div>
            <div class="paginatin_area">
                        {{ partial "pagination.html" . }}
                <!--            {{ template "_internal/pagination.html" . }} -->
            </div>
                    {{ else }}
                        {{ range first 40 .Site.RegularPages.ByDate.Reverse }}
                            {{ if eq .Type "post" }}
                                {{ .Render "summary"}}
                            {{ end }}
                        {{ end }}
                    {{ end }}
                </div>
            </div>
        </div>
    </div>
</div>
{{ partial "footer.html" . }}
