{{ partial "head.html" . }}
{{ $baseurl := .Site.BaseURL }}
<div class="site-wrap">
  {{ partial "header.html" . }}
  <div class="post p2 p-responsive wrap" role="main">
    <div class="measure">
    <p>Tag: {{ .Title | lower }}</p>
    <ul>
        {{ range .Pages.ByDate.Reverse }}
            <li><a href="{{ .Permalink }}"> {{ .LinkTitle }} </a></li>
        {{ end }}
    </ul>
    </div>
  </div>
</div>
{{ partial "footer.html" . }}
